*.o
*.lo
*.a
*.la
*.dirstamp
*.pc
TAGS
tags
core*

# C autoconf crap
autom4te.cache
*.in
!/src/libbase64-1.pc.in
config.*
compile
*.m4
configure
depcomp
*.info
mdate-sh
stamp-*
texinfo.tex
version.texi
install-sh
missing
Makefile
.deps
.libs
libtool
ltmain.sh

# texinfo out
doc/*.pdf
doc/*.info
doc/*.log

/test-driver
/test-suite.log
tests/base64_test
tests/base64_test.log
tests/base64_test.trs
